Library/controller/src/main/resources/BookDTO.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://services.memorynotfound.com/"
           elementFormDefault="qualified">
    <xs:complexType name="BookRequest">
        <xs:sequence>
            <xs:element name="isbn" type="xs:long"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="publishDate" type="xs:string"/>
            <xs:element name="genre">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Scifi"/>
                        <xs:enumeration value="Crimi"/>
                        <xs:enumeration value="Holy"/>
                        <xs:enumeration value="Other"/>
                        <xs:enumeration value="Microsoft"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="loaned" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>